@model Probability.ViewModels.CalculatorViewModel

@{
    ViewData["Title"] = "Calculator";
}
<bootstrap-alert class="alert-warning alert-dismissible fade in">
    <bootstrap-alert-close><span aria-hidden="true">×</span></bootstrap-alert-close>
    <strong>Let's Calc!</strong> Make your choice below.
</bootstrap-alert>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2>Calculator</h2>
        <div class="navbar-form">
            <form asp-controller="Home" asp-action="Calculate" method="post" class="form-inline">

                <bootstrap-dropdown>
                    <label asp-for="CalculatorTypes">Type of Calculator</label>
                    <select asp-for="Calculator"
                            asp-items="@(new SelectList(Model.CalculatorTypes))">
                        <option>Please select one</option>
                    </select>
                </bootstrap-dropdown>
                <span asp-validation-for="Calculator" class="text-danger"></span>

                <bootstrap-input-group>
                    <label asp-for="Left">Left</label>
                    <input asp-for="Left" />
                    <span asp-validation-for="Left" class="text-danger"></span>
                </bootstrap-input-group>

                <bootstrap-input-group >
                    <label asp-for="Right">Right</label>
                    <input asp-for="Right" />
                    <span asp-validation-for="Right" class="text-danger"></span>
                </bootstrap-input-group>

                <bootstrap-button class="btn" type="submit">Calculate</bootstrap-button>
            </form>
        </div>
    </div>
</div>