@model Probability.ViewModels.CalculatorViewModel

@{
    ViewData["Title"] = "Calculator";
}

<h1>Getting Started with Vue.js in .NET Core</h1>
<div id="calculator-form">
    <select v-model="Calculator" :error-messages="modelState['Calculator']">
        <option v-for="calculator in CalculatorOptions" v-bind:value="calculator.value">
            {{ calculator.text }}
        </option>
    </select>

    <p>
        <label>Left</label>
        <input v-model="Left" :error-messages="modelState['Left']" />
    </p>

    <p>
        <label>Right</label>
        <input v-model="Right" :error-messages="modelState['Right']" />
    </p>

    <div id="form-buttons">
        <button type="button" class="danger" v-on:click="ResetForm">Reset Form</button>
        <button type="button" class="success" ref="SubmitButton" v-bind:disabled="isSubmitDisabled" v-on:click="RunCalculation">Calculate</button>
    </div>
</div>
@*<bootstrap-alert class="alert-warning alert-dismissible fade in">
    <bootstrap-alert-close><span aria-hidden="true">×</span></bootstrap-alert-close>
    <strong>Let's Calc!</strong> Make your choice below.
</bootstrap-alert>

<div class="row">
    <div>
        <h2>Calculator</h2>
        <div class="navbar-form">
            <form asp-controller="Home" asp-action="Calculate" method="post" class="form-horizontal" role="form">
                <div class="form-group col-xs-offset-2 col-xs-10">
                    <div class="">
                        <select class="form-control" asp-for="Calculator"
                                asp-items="@(new SelectList(Model.CalculatorTypes))">
                            <option>Select your calculator</option>
                        </select>
                    </div>
                    <span asp-validation-for="Calculator" class="text-danger"></span>
                </div>

                <div class="form-group col-xs-12 col-sm-5">
                    <label asp-for="Left" class="col-xs-2 control-label"></label>
                    <div class="col-xs-10">
                        <input asp-for="Left" class="form-control" />
                    </div>
                    <span asp-validation-for="Left" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-12 col-sm-5">
                    <label asp-for="Right" class="col-xs-2 control-label"></label>
                    <div class="col-xs-10">
                        <input asp-for="Right" class="form-control" />
                    </div>
                    <span asp-validation-for="Right" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-sm-2">
                    <div class="col-xs-offset-1">
                        <bootstrap-button class="btn btn-primary" type="submit">Calculate</bootstrap-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>*@